html{
    height: 100%;
    width: 100%;
}

body {
    position: absolute;
    height: 100%;
    width: 100%; 
    MARGIN: 0px; 
    PADDING-LEFT: 0px; 
    PADDING-RIGHT: 0px; 
    PADDING-TOP: 0px;
    padding-bottom: 0px;
    background-image: linear-gradient(#00B1DA, #00B2DC, #005FA8);
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

#footer {
    min-height: 40px;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}

H1 {
    MARGIN-BOTTOM: 0px; 
    FONT-WEIGHT: bold; 
    COLOR: #FFFFFF; 
    text-shadow: 1px 1px #0f0f0f;
    font-family: Arial, Solaimanlipi, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
   }
  
textarea
{overflow:auto;
 background-color:#f9f9f9;
}
.bijoy_textarea
{width:98%;
height:180px;
font-family:SutonnyMJ;
font-size:22px;
color:#000;
border:1px solid #999;
outline:none;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:5px
}
.bijoy_textarea:focus
{width:98%;
height:180px;
font-family:SutonnyMJ;
color:#000;
border:1px solid #5ab4e6;
box-shadow:0 0 5px #7dbef1;
-moz-box-shadow:0 0 5px #7dbef1;
-webkit-box-shadow:0 0 5px #7dbef1
}
.unicode_textarea
{width:98%;
height: 180px;
font-family:solaimanLipi;
font-size:22px;
color:#000;
border:1px solid #999;
outline:none;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:5px
}
.unicode_textarea:focus
{width:98%;
height:180px;
font-family:solaimanLipi;
color:#000
border:1px solid #5ab4e6;
box-shadow:0 0 5px #7dbef1;
-moz-box-shadow:0 0 5px #7dbef1;
-webkit-box-shadow:0 0 5px #7dbef1
}
#convert_button
{float:left;
width:100%;
display:inline;
font-size:13px;
padding:0px 0px 0px 0px
}
#convert_button .convert_button_left
{float:left
}
#convert_button .convert_button_right
{float:right
}
.bijoy_button
{width:300px;
height:54px;
padding-right:0px;
border:none;
background:url(../images/convert_down.png) no-repeat
}
.bijoy_button:hover
{width:300px;
height:54px;
padding-right:0px;
cursor:pointer;
cursor:hand;
background:url(../images/convert_down.png) 0 -54px no-repeat
}
.unicode_button
{width:300px;
height:54px;
padding-right:0px;
border:none;
background:url(../images/convert_up.png) no-repeat
}
.unicode_button:hover
{width:300px;
height:54px;
padding-right:0px;
cursor:pointer;
cursor:hand;
background:url(../images/convert_up.png) 0 -54px no-repeat
}
.reset_button
{width:210px;
height:54px;
padding-right:0px;
border:none;
background:url(../images/reset.png) no-repeat
}
.reset_button:hover
{width:210px;
height:54px;
padding-right:0px;
cursor:pointer;
cursor:hand;
background:url(../images/reset.png) 0 -54px no-repeat
}
